body {
  background-color: #b6d4de;
}
#container {
  padding: 50px;
  background-color: lightblue;
}
h1 {
  text-align: center;
}
.bs-callout {
  padding: 20px;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}
.bs-callout-info {
  border-left-color: #1b809e;
}
.note {
  font-style: italic;
}
#result {
  background-color: white;
}
#markdown {
}
